/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent{
    border: 1px solid violet;
    height: 200px;
    width: 200px;
}

.child{
    border: 1px solid blue;
    height: 60px;
    width: 60px;
}

.c2{
    position: relative;
    left: 60px;
}

.c3{
    position: relative;
    right: -60px;
} */

/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 300vh;
}

.parent{
    border: 1px solid violet;
    height: 200px;
    width: 200px;
}

.child{
    border: 1px solid blue;
    height: 60px;
    width: 60px;
}
.c3{
    position: absolute;
    right: 20px;
    top: 0;
} */

/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 300vh;
}

.parent{
    border: 1px solid violet;
    height: 200px;
    width: 200px;
}

.child{
    border: 1px solid blue;
    height: 60px;
    width: 60px;
}
.c3{
    position: fixed;
    right: 20px;
    top: 0;
} */

/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 300vh;
}

.parent{
    border: 1px solid violet;
    height: 200px;
    width: 200px;
}

.child{
    border: 1px solid blue;
    height: 60px;
    width: 60px;
}

.c1{
    background-color: red;
    position: relative;
    z-index: 1;
}

.c2{
    background-color: yellow;
    position: relative;
    top: -60px;
} */


/* .parent{
    border: 1px solid red;
    background-color: yellow;
    height: 150vh;
    padding: 50px;
    margin: 50px;
}

.child{
    background-color: black;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    
    position: sticky;
    top: 10px;
} */

/* pseudo elements */
/* p::after{
    content: '*';
    color: red;
    background-color: bisque;
} */

/* div{
    padding: 16px 24px;
    width: 50vw;
    margin: auto;
    background-color: yellow;
}

button{
    background-color: rgb(120, 227, 120);
    padding: 8px 16px;
    border-radius: 8px;
    width: 200px;
}

@media( 500px < width <= 768px){
    *{
        color: blue;
    }
    div{
        width: 80vw;
        background-color: lime;
    }
    h1{
        font-size: 24px;
    }
    button{
        background-color: yellow;
        width: 100px;
    }
}

@media(width <= 500px){
    *{
        color: red;
    }
} */



.ball{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: red;

    animation-name: circulation;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes circulation{
    from{
        transform: translate(0px, 0px);
    }
    to{
        transform: translate(200px, 300px);
    }
}
  






