*{
margin: 0;
padding: 0;
box-sizing: content-box;
background-color: blue;
}
#mydiv
{
display: flex;
justify-content: center;
margin-top: 300px;
}
#btn
{
border-radius: 12px;
width: 100px;
height: 40px;
background-color: gray;

}

.container {
display: block;
text-align: center;
margin-top: 20px;
}

.input-field {
width: 200px;
padding: 8px;
border: 1px solid #ccc;
border-radius: 5px;
margin: 10px auto;
}

.add-button {
border-radius: 12px;
width: 100px;
height: 40px;
background-color: gray;
}
#image-content
{
display: flex;
flex-direction: row;
}

#image-content #image {
width: 50px;
height: 100px;

}
#image-content #image-off {
width: 50px;
height: 100px;
padding-left: 200px;

}

#image-content #image1 {
width: 50px;
height: 100px;

}

#image-content #image2 {
width: 50px;
height: 100px;

}#image-content #image3 {
width: 50px;
height: 100px;

}