*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: blue;
    
}
button{
    padding:10px 20px;
border-radius: 40px;
display: block;
margin :200px auto ;
/* align-items: center; */
    /* display: flex; */

}

.parent{
    display: flex;
    justify-content: center;
    /* align-items: center;
    align-content: center; */
    width: 100vw;
    height: 100vh;
    
   
}
.inner-div{
    background-color: white;
     align-items: center; 
    display: flex;
    width: 50vw;
    height: 50vh; 
    justify-content: center;
    margin: auto auto auto auto;
    margin-top: 80px;
}
/* .newp{
    text-align: center;
    color: blue;
} */
.number1{
    text-align: center;
    margin: 30px;
} 
.done{
    background-color: green;
    color: black;
}






